@import '../../style/variables.scss';

.projects_container{
    display:flex;
    flex-direction: column;
    background-color: $color-primary;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    
}
.projects_title{
    margin-left: 8%;
    display: flex;
    padding: 10px;
    color:$color-secondary;
    font-family: $font-family;
    font-size: 250%;
    margin-top: 80px;
}
.cards_container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1rem;
    margin-bottom: 20px;
    
}
.project_card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_imagen{
    display: flex;
    border: 7px solid black;
    height: auto;
    max-width: 50%;
}
.card_title{
    padding:10px;
    font-family:$font-family;
    color:$color-secondary;
    font-size: 150%;

}
.card_description{
    display:flex;
    font-family:$font-family;
    color:$color-secondary;
    padding: 10px 25px 10px 25px;
    border: 3px solid white;
    max-width: 60%;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
}
.footer_links{
    margin-top: 5px;
    color:$color-secondary;
    padding:8px;
    &:hover{
        color: $color-yellow;
    }
}