@import '../../style/variables.scss';

.about_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // height: 100vh;
    width: 100%;
    background-color: $color-primary;
    @media screen and (max-width: 715px){
    }

}
.about_title{
    margin-top: 100px;
    margin-left: 8%;
    display: flex;
    padding: 10px;
    color:$color-secondary;
    font-family: $font-family;
    font-size: 250%;
    @media screen and (max-width: 715px) {
        margin: auto;
        margin-bottom: 15px;

    }
}
.about_content{
    margin: -20px 0px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 715px) {
        flex-direction: column;
        margin: auto;

    }
}
.picture_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 715px) {
        max-width: 100%;
        margin: auto;
    }
}
.picture_container{
    display:flex;
    flex-direction: column;
    width: 40%;
    padding:10px;
    margin-right: 40px;
    margin-left: -70px;
    height: max-content;
    @media screen and (max-width: 715px) {
        margin: auto;
        width: 100vw;
        padding: 0%;
        
    }

      &_title{
        display: flex;
        margin-top: 10px;
        margin-right: 20px;
        text-align:center;
        color:$color-secondary;
        font-family: $font-family;
        font-size: 130%;
        font-weight: $font-weight-medium;
        &:hover{
            color: $color-yellow;
        }
        @media screen and (max-width: 715px){
            margin: auto;
            padding-bottom: 10%;
            
        }
      }
}
.profile_picture{
    border: 10px solid white;
    justify-self: center;
    width: 350px;
    height: 400px;
    margin: 24px 24px 0px 24px;
    @media screen and (max-width: 715px) {
        margin: auto;
        max-width: 80vw;
        max-height: 70vh;
    }

}
.footer_picture{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    @media screen and (max-width: 715px) {
        flex-direction: column;
    }
    
}
.fa-download{
    margin-top: 10px;
    text-decoration: none;
    color: $color-secondary;
    margin-left: 10px;
}
.description_container{
    display:flex;
    flex-direction: column;
    width: 60%;
    padding:10px;
    margin: auto;
    height: max-content;
    @media screen and (max-width: 715px){
        margin: 0;
    }

}
.text_box{
    border: 10px solid white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width:70%;
    @media screen and (max-width: 715px) {
        margin: auto;
    }

}
.info_title{
    color:$color-secondary;
    font-family: $font-family;
    align-self: center;
    font-size: 150%;
}
.info{
    width:100%;
    line-height: 28px;
    text-align: justify;
    text-justify: inter-word;
    color:$color-secondary;
    font-family: $font-family;
}